name: Testing

on: push

jobs:
  test:
    name: Tests passes
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Install modules
        run: npm ci

      - name: Testing
        run: npm test
        env:
          ORIGIN_WHITELIST: ${{ secrets.ORIGIN_WHITELIST }}
          MONGODB_URL: ${{ secrets.MONGODB_URL }}
          DEBUG: ${{ secrets.DEBUG }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
